name: Deploy AWS Lambda (Python)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Zip Lambda source
        run: |
          cd src
          zip -r ../code.zip .

      - name: Install AWS CLI v2
        uses: imehedi/actions-awscli-v2@latest

      - name: Create or Update Lambda Function
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-north-1
          FUNCTION_NAME: my_function
        run: |
          if aws lambda get-function --function-name $FUNCTION_NAME > /dev/null 2>&1; then
            echo "Lambda exists. Updating code..."
            aws lambda update-function-code \
              --function-name $FUNCTION_NAME \
              --zip-file fileb://code.zip
          else
            echo "Lambda does not exist. Creating function..."
            aws lambda create-function \
              --function-name $FUNCTION_NAME \
              --runtime python3.11 \
              --role ${{ secrets.LAMBDA_ROLE_ARN }} \
              --handler lambda_function.lambda_handler \
              --zip-file fileb://code.zip
          fi



# name: Deploy AWS Lambda

# on:
#   push:
#     branches: 
#       - main

# jobs:
#   deploy:
#     runs-on: windows-latest
    
#     steps:
#       - uses: actions/checkout@v4
#       - name: Install zip tool
#         uses: montudor/action-zip@v1
#       - name: Create Zip file for Lambda function
#         run: |
#           cd src
#           zip -r ../code.zip .
#       - name: AWS CLI v2
#         uses: imehedi/actions-awscli-v2@latest
#         with:
#           args: "lambda update-function-code \
#             --function-name arn:aws:lambda:eu-north-1:739961806457:function:my_function \
#             --zip-file fileb://code.zip"
      
#         env:
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           AWS_DEFAULT_REGION: "eu-north-1"